.Panel1 {
    padding: 16px;
    background-color: #3F3F3F;
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-between;
}
.Panel1-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
}
h2 {
    margin-bottom: 0px;
}
.temp {
    font-size: 4em;
    font-weight: 800;
}
h4 {
    font-size: 0.8em;
    margin-top: 0px;
}
.Emoji {
    display: flex;
}
.Weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.img {
    margin-top: 20px;
    font-size: 6em;
}

.weather-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.date-wrapper {
    display: flex;
    justify-content: space-between;
    /* font-size: 1.5em; */
    height: 240px;
    margin-top: 100px;
    padding: 16px;
    background-color: #DDDD;
    color: black;
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.date {
    font-size: 1.5em;
    text-align: end;
    display: flex;
    flex-direction: column;
}
.tr1 {
    display: table;
}
.hours {
    color: #4F4F4F;
}
.today {
    background-color: yellow;
}
