@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: white;
    margin: 0px;
    background-image: url(./assets/canyon.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

}